<main>
  <div class="container">
    <div class="row">
      <div class="mr-6">
      <h2 class="bg-light mt-4 mb-4 col-9">ジャンル編集</h2>
      <%= form_with model: @genre, url: admin_genre_path do |f| %>
        <%= f.label :"ジャンル名" %>
        <%= f.text_field :name %>
        <%= f.submit "変更を保存" , class: "ml-3 btn btn-primary genre_btn" %>
      <% end %> 
      </div>
    </div>
  </div>
</main>
